altgraph==0.17
backcall==0.1.0
certifi==2020.4.5.1
click==7.1.2
colorama==0.4.3
cycler==0.10.0
decorator==4.4.2
dwollaswagger==1.0.9
fbs==0.8.6
future==0.18.2
igraph==0.1.11
ipython==7.14.0
ipython-genutils==0.2.0
jedi==0.17.0
kiwisolver==1.2.0
macholib==1.14
matplotlib==3.2.1
networkx==2.4
numpy==1.22.0
parso==0.7.0
pefile==2019.4.18
pickleshare==0.7.5
prompt-toolkit==3.0.3
Pygments==2.7.4
PyInstaller==3.4
pyparsing==2.4.7
PyQt5==5.9.2
PyQt5-sip==12.7.2
pyqt5-tools==5.13.0.1.5
python-dateutil==2.8.1
python-dotenv==0.13.0
pywin32-ctypes==0.2.0
sip==4.19.8
six==1.15.0
traitlets==4.3.3
urllib3==1.25.9
wcwidth==0.1.9
